<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- GreetingService 빈 설정 -->
    <bean id="greetingService1" class="com.example.demo.service.GreetingServiceKor" />
    <bean id="greetingService2" class="com.example.demo.service.GreetingServiceEng" />

    <!-- HomeController 빈 설정 -->
    <bean id="homeController" class="com.example.demo.controller.HomeController">
        <constructor-arg ref="greetingService1" />
    </bean>

</beans>