.form-label {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 400px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
}
.text-center {
    margin-bottom: 15px;
}

.logo {
    width: 75px;
    margin-bottom: 50px;
}

.btn_R {
    float: right!important;
}