<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>맛집</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <input id="searchBox" type="text" placeholder="내용을 입력해 주세요" />
        <button id="searchBtn">검색</button>
    </div>

    <div style="visibility: hidden">
        <div>
            <img id="image" src="" style="width: 300px; height: 300px">
        </div>
        <div>
            <ul>
                <li id="title"></li>
                <li id="category"></li>
                <li id="addr"></li>
                <li id="road-addr"></li>
                <li>
                    <a href="" id="homepage"></a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="/js/home.js"></script>

</html>