<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>업로드 이미지 파일 목록</h1>
    <ul>
    <%
    console.log("fileList", fileList);
    fileList.forEach((file)=>{
    %>
        <li><img src='<%=file%>' height='100' /></li>
    <%
    });
    %>
    </ul>
</body>
</html>